* {
	font-size: 20px;
}

section {
	background-color: #F6F6F6;
	font-family: 'Inter', sans-serif;
}

.title-size {
	font-size: 5.5rem;
}

.card-img-top {
		min-height: 300px;
		height: 18vw;
    width: 100%;
    object-fit: cover;
}



.navbar {
	background-color: #212121;
}

section {
	padding-top: 50px;
}

.landing-page {
	margin-bottom: 0;
	height: 600px;
	background-color: #F6F6F6;
}

#gallery {
	text-align: center;
	background-color: #F6F6F6;
}

.about-me {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	justify-content: center;
	color: white;
	background-color: #212121;
}

#profile-picture {
	width: 300px;
}

.about-me-box {
	font-size: 20px;
	margin-top: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.contact-me {
	color: black;
	background-color: #6D9886;
}

form {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: white;
	text-align: center;
}
